@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
$fa-font-path: '~font-awesome/fonts';
// @import '~font-awesome/scss/font-awesome.scss';
@import 'comment';

.img {
  width: 100%;
  height: auto;
}

.inline-block_test {
  display: inline-block;
  /* インラインブロック要素にする */
  /* 背景色指定 */
  padding: 20px;
  /* 余白指定 */
  height: 10px;
  /* 高さ指定 */
}